name: "Test"

on:
  workflow_dispatch:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Debug event.json"
        if: ${{ !github.event.act }}
        continue-on-error: true
        run: cat "${GITHUB_EVENT_PATH}"

      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Debug Environment"
        if: ${{ !github.event.act }}
        continue-on-error: true
        run: env

      - name: "1 - Test Non-Pull"
        if: ${{ github.event_name != 'pull_request' }}
        id: test1
        uses: ./
        with:
          summary: ${{ !github.event.act }}
          path: "author.type"
          #sha: dd49c0cc254760111a78f2c739efcedd567e2bf2

      - name: "1 - Validate Outputs"
        if: ${{ github.event_name != 'pull_request' }}
        uses: cssnr/validate-outputs-action@master
        with:
          outputs: ${{ toJSON(steps.test1.outputs) }}
          data: |
            sha: ${{ github.sha }}
            result: User
            commit:

      - name: "2 - Test Pull"
        if: ${{ github.event_name == 'pull_request' }}
        id: test2
        uses: ./
        with:
          summary: ${{ !github.event.act }}
          path: "author.type"
          #sha: ${{ github.event.pull_request.head.sha }}

      - name: "2 - Validate Outputs"
        if: ${{ github.event_name == 'pull_request' }}
        uses: cssnr/validate-outputs-action@master
        with:
          outputs: ${{ toJSON(steps.test2.outputs) }}
          data: |
            sha: ${{ github.event.pull_request.head.sha }}
            result: User
            message:
            commit:

      - name: "Schedule Failure Notification"
        if: ${{ failure() && github.event_name == 'schedule' }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
